<div class="sidebar" data-color="red" data-image="../assets/img/sidebar-1.jpg">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | red | orange "
    Tip 2: you can also add an image using data-image tag

    -->

    <div class="logo">
        <a href="#" class="simple-text">
            <img src="../assets/img/favicon.png" alt="logo" />
            <br/>
            Training <span style="color: #f44336">diary</span>
        </a>
    </div>


    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="#">
                    <i class="material-icons">content_paste</i>
                    <p>Trainings</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">fitness_center</i>
                    <p>Exercises</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-panel">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Trainings</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">Profile</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-chart" data-background-color="red"></div>
                        <div class="card-content">
                            <h4 class="title">2017-05-14</h4>
                            <p class="category">
                                Exercise 1, Exercise 2, Exercise 3,...
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-chart" data-background-color="grey"></div>
                        <div class="card-content">
                            <h4 class="title">2017-05-12</h4>
                            <p class="category">
                                Exercise 1, Exercise 2, Exercise 3,...
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 16 hours ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-chart" data-background-color="grey"></div>
                        <div class="card-content">
                            <h4 class="title">2017-05-10</h4>
                            <p class="category">
                                Exercise 1, Exercise 2, Exercise 3,...
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Training from 2017-05-14</h4>
                            <p class="category">Details of your exercises</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>Exercise</th>
                                    <th>Series 1</th>
                                    <th>Series 2</th>
                                    <th>Series 3</th>
                                    <th>Series 4</th>
                                    <th>Series 5</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Exercise 1</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                    </tr>
                                    <tr>
                                        <td>Exercise 2</td>
                                        <td>Load: 8 / Reps: 8</td>
                                        <td>Load: 8 / Reps: 8</td>
                                        <td>Load: 8 / Reps: 8</td>
                                        <td>Load: 8 / Reps: 8</td>
                                        <td>Load: 8 / Reps: 8</td>
                                    </tr>
                                    <tr>
                                        <td>Exercise 3</td>
                                        <td>Load: 18 / Reps: 20</td>
                                        <td>Load: 18 / Reps: 20</td>
                                        <td>Load: 18 / Reps: 20</td>
                                        <td>Load: 18 / Reps: 20</td>
                                        <td>Load: 18 / Reps: 20</td>
                                    </tr>
                                    <tr>
                                        <td>Exercise 4</td>
                                        <td>Load: 12 / Reps: 10</td>
                                        <td>Load: 12 / Reps: 10</td>
                                        <td>Load: 12 / Reps: 10</td>
                                        <td>Load: 12 / Reps: 10</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Exercise 5</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                    </tr>
                                    <tr>
                                        <td>Exercise 6</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                        <td>Load: 14 / Reps: 10</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Company
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <p class="copyright pull-right">
                &copy;
                <script>document.write(new Date().getFullYear())</script>
                <a href="https://www.scholtysek.pl">Scholtysek Software</a>, apps for everyone
            </p>
        </div>
    </footer>
</div>